/* main.css */

/*  global  */
body, html {
    background-color: white;
    height: 100%;
}

body {
    background-image: url(../img/comppattern2.png);
    background-repeat: repeat;
}


.gradient {
    height: 3px;
    background: #e7eff3; /* Old browsers */
    background: -moz-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e7eff3), color-stop(50%, #216a7d), color-stop(100%, #e7eff3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* IE10+ */
    background: linear-gradient(to right, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7eff3', endColorstr='#e7eff3', GradientType=1); /* IE6-9 */
}


#beforeFooter {
    min-height: 100%;

    margin: 0 0 -81px;

}

/*Обертка, очистка float*/
.clearFix:before, .clearFix:after {
    content: " ";
    display: table;
}

.clearFix:after {
    clear: both;
}
/*header*/

#header{
    height: 70px;

}
#head_up {
    margin-top:30px;
}
ul#socialButtons li {
    display:inline-block;
    background: slategray;
    /* font-size:0px; */
}

/* center */
#center{
    width:970px;
    margin: 0 auto;
    padding:0 0 81px;
}

#asideBar{
    float:left;
    width:300px;
}

#main{
    float:right;
    width:500px;
}


/* footer  */

#footer {

    height: 81px;
    background-color: #eff3f7;
}

#footer_in {
    height: 78px;
    width: 961px;
    margin: auto;
    background: url("../img/lock.png") no-repeat 35px 24px;
}

#copyright {
    padding-top: 28px;
    padding-left: 289px;

    font: 12px Monospace;
    font-family: fira_sansbook, arial;
    color: #767d84;

}