/* main.css */

/*  global  */
body, html {
    background-color: white;
    height: 100%;
}

body {
    background-image: url(../img/comppattern2.png);
    background-repeat: repeat;
}

.wrapperHeader{
    width: 100%;
    background-color: #eff3f7;
}

.gradient {
    height: 3px;
    background: #e7eff3; /* Old browsers */
    background: -moz-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e7eff3), color-stop(50%, #216a7d), color-stop(100%, #e7eff3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* IE10+ */
    background: linear-gradient(to right, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7eff3', endColorstr='#e7eff3', GradientType=1); /* IE6-9 */
}

#beforeFooter {
    min-height: 100%;
    margin: 0 0 -81px;
}

/*Обертка, очистка float*/
.clearFix:before, .clearFix:after {
    content: " ";
    display: table;
}

.clearFix:after {
    clear: both;
}

/*header*/

#header {
    height: 116px;
    min-width: 970px;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;

}

.logo > a {
    display: block;
}

.logo {
    position: absolute;
    left: 0px;
}

.socialButtons {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
}


.socialItem {
    display: inline-block;
    margin-left: 19px;
    width: 47px;
    height: 47px;
    font-size:0px;
}

.socialItem .socialLink {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("../img/socials.png");
    background-repeat: no-repeat;
    text-indent:-9999px;
}

ul.socialButtons   {
    line-height: 0;
    margin: 0;
    padding: 0;
    height:47px;
}
/* ну почему он на несколько пикселов вверх?? */

.logoText{
    position: absolute;
    text-indent:-9999px;
}

.socialButtons .socialItem:first-child{
    margin-left: 0;
}

.socialLink.vk {
    background-position: -2px -3px;
    padding-left: 0px;
}
.socialLink.vk:hover  {
    background-position: -2px -65px;

}


.socialLink.fb {
    background-position: -140px -3px;
}

.socialLink.fb:hover  {
    background-position: -140px -65px;
}

.socialLink.tw {
    background-position: -71px -3px;
}
.socialLink.tw:hover  {
    background-position: -71px -65px;
}


.socialLink.git {
    background-position: -209px -3px;
}
.socialLink.git:hover  {
    background-position: -209px -65px;
}


.headerSpace {
    top: 35px;
}

/* center */
.center {
    width: 970px;
    margin: 0 auto;
    padding: 0 0 81px;
}

#asideBar {
    float: left;
    width: 300px;
}

#main {
    float: right;
    width: 500px;
}

/* footer  */

#footer {

    height: 81px;
    background-color: #eff3f7;
}

#footer_in {
    height: 78px;
    width: 961px;
    margin: auto;
    background: url("../img/lock.png") no-repeat 35px 24px;
}

#copyright {
    padding-top: 28px;
    padding-left: 289px;

    font: 12px Monospace;
    font-family: fira_sansbook, arial;
    color: #767d84;

}