/* main.css */

/*  global  */
html {
    background-color: white;
    height: 100%;
    background-image: url(../img/comppattern2.png);

}

body {

    background-repeat: repeat;
    height: 100%;

}

.gradient {
    height: 3px;
    background: #e7eff3; /* Old browsers */
    background: -moz-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e7eff3), color-stop(50%, #216a7d), color-stop(100%, #e7eff3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* IE10+ */
    background: linear-gradient(to right, #e7eff3 0%, #216a7d 50%, #e7eff3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7eff3', endColorstr='#e7eff3', GradientType=1); /* IE6-9 */
}

.beforeFooter {
    min-height: 100%;
    margin: 0 0 -81px;

}

/*Обертка, очистка float*/
.clearFix:before, .clearFix:after {
    content: " ";
    display: table;
}

.clearFix:after {
    clear: both;
}

/* header  header header header header header header header header header header */

.wrapperHeader {
    width: 100%;
    background-color: #eff3f7;
    margin-bottom: 39px;
}

.header {
    height: 116px;
    min-width: 970px;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.logo > a {
    display: block;
}

.logo {
    position: absolute;
    left: 0px;
}

.socialButtons {
    margin: 0;
    padding: 0;
    min-width: 260px;
}

.header .socialButtons {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;

}

.socialItem {
    display: inline-block;
    margin-left: 19px;
    width: 47px;
    height: 47px;
    font-size: 0px;
}

.socialItem .socialLink {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("../img/socials.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
}

ul.socialButtons {
    line-height: 0;
    margin: 0;
    padding: 0;
    height: 47px;
}

/* ну почему он на несколько пикселов вверх?? */
.logoText {
    position: absolute;
    text-indent: -9999px;
}

.socialButtons .socialItem:first-child {
    margin-left: 0;
}

.socialLink.vk {
    background-position: -2px -3px;
    padding-left: 0px;
}

.socialLink.vk:hover {
    background-position: -2px -65px;
}

.socialLink.fb {
    background-position: -140px -3px;
}

.socialLink.fb:hover {
    background-position: -140px -65px;
}

.socialLink.tw {
    background-position: -71px -3px;
}

.socialLink.tw:hover {
    background-position: -71px -65px;
}

.socialLink.git {
    background-position: -209px -3px;
}

.socialLink.git:hover {
    background-position: -209px -65px;
}

.headerSpace {
    top: 35px;
}

/*   center center center center center center center center center   center center center center */

.center {
    width: 970px;
    margin: 0 auto;
    padding: 0 0 81px;
}

.asideBar {
    float: left;
    width: 250px;
}

.navigation {
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 26px;
    background-color: #eff3f7;

}

.menu-ul {
    list-style: none;
    background-color: #eff3f7;
    margin: 0;
    padding: 0;
}

.menu-li {
    height: 76px;
    margin: 0 11px;
    border-top: 2px solid #3ba8c0;
}

.menu-li:first-child {
    border-top: none;
}

.menu-a:hover {
    color: #3ba8c0;
}

.menu-a {
    font-family: 'fira_sansbook';
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 0;
    color: #959aa8;
    margin-left: 16px;
}

.selected {
    background-color: #3ba8c0;
    border-bottom: none;
    padding-left: 11px;
    margin: 0;
    margin-bottom: -2px;
    font-size: 22px;
}

.selected .menu-a:hover {
    color: white;
}

.selected > a {
    color: #f9fafb;
}

/* right right right right right right right right right right right right right right right */
.main {
    float: right;
    width: 650px;
}

.rightArticle {
    background-color: #eff3f7;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 30px;
    min-height: 234px;
}

.rightArticle h1 {
    font-family: 'fira_sansbook';
    font-size: 27px;
    font-weight: normal;
    color: #3ba8c0;
    border-bottom: 2px solid #3ba8c0;
    display: inline-block;
    margin: 0;
    margin-bottom: 23px;
    padding: 13px 26px;
}

.wrapperMyPicture {
    float: left;
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 30px; /*если текст справ от картинки будет меньше по высоте*/
}

.myPicture {
    width: 140px;
    height: 140px;
    border-radius: 50% 50%;
    overflow: hidden;
    border: 5px solid #3ba8c0;
}

.mainInformation {
    float: right;
    min-width: 420px;
}

.myInfo {
    margin: 0;
    padding: 0;
}

.myInfoItem {
    list-style: none;
}

.myInfoTitle, .myInfoText {
    display: inline-block;
}

.myInfoTitle {
    font-weight: 400;
    font-family: "fira_sansmedium";
    font-size: 16px;
}

.myInfoText {
    padding-left: 25px;
}

.rightArticleWrapper {
    padding: 0 10px 40px 0;
}

.rightArticleUl {
    margin: 0 0 0 0;
}

.rightArticleLi {
    padding-left: 76px;
    list-style: none;
    margin-bottom: 20px;
    background-image: url("../img/portfel.png");
    background-repeat: no-repeat;
    background-position: left 0 top 50%;
}



.rightArticleLi:last-child {
    margin-bottom: 0px;
}

.where {
    font-family: 'fira_sansbook';
    font-size: 16px;
    font-family: 'fira_sansbook';
}

.period {
    font-family: 'fira_sanslight';
    font-size: 15px;
    line-height: 1;
}

/* footer   footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  */

.footer {
    height: 81px;
    background-color: #eff3f7;

}

.footer_in {
    height: 78px;
    width: 961px;
    margin: auto;
    background: url("../img/lock.png") no-repeat 35px 24px;
}

.lock {
    display: inline-block;
    margin-left: 31px;
    margin-top: 28px;
    width: 50px;
}

.copyright {
    display: inline-block;
    padding-top: 28px;
    padding-left: 206px;
    font: 12px Monospace;
    font-family: fira_sansbook, arial;
    color: #767d84;
}